<div>Patient index page</div>
<a asp-controller="Patients" asp-action="Search">Search</a>
<a asp-controller="Patients" asp-action="Register">Register</a>
<a asp-controller="Patients" asp-action="Search">Update</a>