@model EMS2.Models.Patient

<form asp-controller="Patients" asp-action="Register" method="post">
    <div>
        <label asp-for="HCN">HCN</label>
        <input asp-for="HCN" />
        <span asp-validation-for="HCN" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="MInitial">Middle Name Initial </label>
        <input asp-for="MInitial" />
        <span asp-validation-for="MInitial" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="DateBirth">Date of Birth</label>
        <input asp-for="DateBirth" />
        <span asp-validation-for="DateBirth" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="HeadOfHouse">Head of House </label>
        <input asp-for="HeadOfHouse" />
        <span asp-validation-for="HeadOfHouse" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="AddressLine1">Address Line1 </label>
        <input asp-for="AddressLine1" />
        <span asp-validation-for="AddressLine1" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="AddressLine2">Address Line2</label>
        <input asp-for="AddressLine2" />
        <span asp-validation-for="AddressLine2" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="City">City</label>
        <input asp-for="City" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Province">Province</label>
        <input asp-for="Province" />
        <span asp-validation-for="Province" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="PostalCode">Postal Code</label>
        <input asp-for="PostalCode" />
        <span asp-validation-for="PostalCode" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="PhoneNumber">Phone Number</label>
        <input asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <button type="submit">submit</button>
</form>