@model EMS2.Models.Patient
@{
    var props = Model.GetType().GetProperties();
}

@foreach (var prop in props)
{
    <div >
        <span>@prop.Name</span> :
        <span>@prop.GetValue(Model)</span>
    </div>
}
<div>
    <a asp-controller="Patients" asp-action="Update"
       asp-route-hcn="@Model.HCN">Update</a>
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Go to Main</a>
</div>
