@model List<EMS2.Models.Patient>


<div class="card" style="width: 65%; margin:auto;">
    <div class="card-header bg-primary">
        <h5 class="text-white text-center text-uppercase">Search Result</h5>
    </div>
    <div class="card-body">
        @foreach (var item in Model)
        {
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>HCN</label>
                    <textbox class="form-control">@item.HCN</textbox>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>First Name</label>
                    <textbox class="form-control">@item.FirstName</textbox>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Last Name</label>
                    <textbox class="form-control">@item.LastName</textbox>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Detail</label>
                    <button>
                        <a asp-controller="Patients" asp-action="SearchPatientById"
                           asp-route-hcn="@item.HCN">detail</a>
                    </button>
                </div>
            </div>
        </div>
        }
    </div>
</div>
