@model EMS2.Models.Patient

<form asp-action="UpdatePatient">

    <input type="hidden" asp-for="HCN" />
    <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MInitial" class="control-label"></label>
        <input asp-for="MInitial" class="form-control" />
        <span asp-validation-for="MInitial" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateBirth" class="control-label"></label>
        <input asp-for="DateBirth" class="form-control" />
        <span asp-validation-for="DateBirth" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Sex" class="control-label"></label>
        <input asp-for="Sex" class="form-control" />
        <span asp-validation-for="Sex" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HeadOfHouse" class="control-label"></label>
        <input asp-for="HeadOfHouse" class="form-control" />
        <span asp-validation-for="HeadOfHouse" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AddressLine1" class="control-label"></label>
        <input asp-for="AddressLine1" class="form-control" />
        <span asp-validation-for="AddressLine1" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AddressLine2" class="control-label"></label>
        <input asp-for="AddressLine2" class="form-control" />
        <span asp-validation-for="AddressLine2" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="City" class="control-label"></label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Province" class="control-label"></label>
        <input asp-for="Province" class="form-control" />
        <span asp-validation-for="Province" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PostalCode" class="control-label"></label>
        <input asp-for="PostalCode" class="form-control" />
        <span asp-validation-for="PostalCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <button type="submit">Update</button>
</form>