<h1>Home</h1>
<a asp-controller="Patients" asp-action="Index">Patient</a>
<a asp-controller="Appointments" asp-action="Index">Appointment</a>
<a asp-controller="Billings" asp-action="Index">Billing</a>
