@*
    Layout pages are typically named _Layout.cshtml, the leading underscore preventing them from being browsed directly.
    By default, every layout must call RenderBody.
    Wherever the call to RenderBody is placed, the contents of the view will be rendered.
*@


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - EMS2</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
        .body-content {
            padding-top: 50px;
            padding-bottom: 20px;
            padding-left: 15px;
            padding-right: 15px;
        }
    </style>
</head>
<body class="m-1 p-1">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
            <a class="navbar-brand" href="/">EMS II</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Patients">Patient</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Appointments">Appointment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Billing">Billing</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container body-content">
        @RenderBody()
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts");
    }
    @if (IsSectionDefined("Styles"))
    {
        @RenderSection(name: "Styles");
    }
</body>
</html>  