@model EMS2.Models.Appointment

<div>
<div class="card-body">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Date</label>
                <textbox class="form-control">@Model.AppointmentDate.ToShortDateString()</textbox>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Slot</label>
                <textbox class="form-control">@Model.AppointmentSlot</textbox>
            </div>
        </div>
    </div>
</div>
</div>
