

<div class="card" style="width: 65%; margin:auto;">
    <div class="card-header bg-primary">
        <h4 class="text-white text-center text-uppercase"> Appointment </h4>
    </div>
</div>
<form asp-controller="Appointments" asp-action="GetAppointments" method="get">
    <div class="card" style="width: 65%; margin:auto;">
        <div class="card-header bg-primary">
            <h5 class="text-white text-center text-uppercase">Search Appointment by HCN</h5>
        </div>
        <div class="card-body" style="text-align: center; ">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Health Card Number</label>
                        <input type="text" name="patientID" value="" />
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Find</button>
            </div>
        </div>
    </div>
</form>

<form asp-controller="Appointments" asp-action="SearchAppointmentByName" method="get">
    <div class="card" style="width: 65%; margin:auto;">
        <div class="card-header bg-primary">
            <h5 class="text-white text-center text-uppercase">Search Appointment by Name</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" name="FirstName" value="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" name="LastName" value="" />
                    </div>
                </div>
            </div>
            <div style="text-align: center; ">
                <button type="submit" class="btn btn-primary">Find</button>
            </div>
        </div>
    </div>
</form>
<br />
<br />
<div style="text-align:center">
    <h4>Make an appointment</h4>
    <button style="text-align:center">
        <a asp-controller="Appointments" asp-action="CreateAppointment">Appointment</a>
    </button>
</div>