@model List<EMS2.Models.Appointment>

<div class="card" style="width: 65%; margin:auto;">
    <div class="card-header bg-primary">
        <h5 class="text-white text-center text-uppercase">Search Result</h5>
    </div>
    <div class="card-body">
        @if (Model.Count == 0)
        {
            <div class="row">
                <div>
                    No result found
                </div>
            </div>
        }
        else
        {
            @foreach (var item in Model)
            {
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Date</label>
                            <textbox class="form-control">@item.AppointmentDate.ToShortDateString()</textbox>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Slot</label>
                            <textbox class="form-control">@item.AppointmentSlot</textbox>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Encounter</label>
                            <textbox class="form-control">@item.Encounter</textbox>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Detail</label>
                            <button>
                                <a asp-controller="Appointments" asp-action="SearchAppointmentById"
                                   asp-route-id="@item.AppointmentID">detail</a>
                            </button>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
